button {
    border: none;
    outline: none;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transform: all 0.3s ease-in-out;

    &.primary-button{
        background-color: #a87839;
        color: aliceblue;
    }
    &:active{
        transform: scale(0.9);
    }
}